.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.log
*.db
**/*.db
*.sqlite
**/*.sqlite
*.sqlite3
**/*.sqlite3
.env
runtime

frontend/node_modules
frontend/dist
frontend/.vite

agent/build
agent/dist
agent/__pycache__
agent/scanner/__pycache__
agent/scanner/executors/__pycache__

backend/__pycache__
backend/app/__pycache__
backend/app/core/__pycache__
backend/app/core/scan/__pycache__
backend/app/core/scan/scanner/__pycache__
backend/app/core/scan/scanner/executors/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__

packages
baselines/uploads
*.docx
*.xlsx
